%article{"ng-app" => "customers", "ng-controller" => "CustomerSearchController"}
	%header
		%h1.h2
			Customer Search

	%section.search-form
		%form
			.input-group.input-group-lg
				= label_tag :keywords, nil, class: "sr-only"
				%input.form-control.input-lg{type: "text", name: "keywords", placeholder: "First Name, Last Name, or Email Address", "ng-model" => "keywords", "ng-change" => "search(keywords)"}
				%span.input-group-btn
					%button.btn.btn-primary.btn-lg{"ng-click" => "search(keywords)"}
						Find Customers
		%h1.searchedFor{"ng-if" => "searchedFor"}
			%small Searched for:
			{{searchedFor}}

	%section.search-results{"ng-if" => "customers.length > 0"}
		%header
			%h1.h3 Results
			= render partial: "pager", locals: { keywords: @keywords, page: @page }
		%ol.list-group
			%li.list-group-item.clearfix{"ng-repeat" => "customer in customers"}
				%h3.pull-right
					%small.text-uppercase
						Joined 
					{{customer.created_at | date}}
				%h2.h3
					{{customer.first_name}} {{customer.last_name}}
					%small
						{{ customer.username }}
				%h4
					{{customer.email}}
		= render partial: "pager", locals: { keywords: @keywords, page: @page }